body {
  font-family: 'Source Code Pro', monospace;
  font-weight: normal;
  height: 100vh;
  width: 100vw;
  margin: 0;
  background-color: rgb(239, 238, 238);
}

#navbar {
  font-family: 'Source Code Pro', monospace;
  font-style: italic;
  font-size: 2em;
  flex-grow: 1;
  max-height: 10%;
  min-height: 40px;
  background-color: rgb(90, 88, 88);
  color: white;
  display: flex;
  align-items: center;
}
.routineActivities{
  border: 5px solid rgb(154,237,11);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  margin: 0.3em;
  background-color: rgba(154,237,11, 0.3);
}
.singleActivity{
  background-color: rgba(154,237,11, 0.3);
  margin: 1.5em 3em 1em 3em;
  padding: 15px;
  border: 5px solid rgb(154,237,11);
  border-radius: 10px;
}
.activityHeader{
  margin-left: 1.2em;
  font-size: 1.7em;
  letter-spacing: 0.3em;
}
.routineHeader{
  margin-left: 1.2em;
  font-size: 1.7em;
  letter-spacing: 0.3em;
}
.singleRoutine{
  background-color: rgba(78,224,214,0.3);
  margin: 1.5em 3em 1em 3em;
  padding: 15px;
  border: 5px solid rgba(78,224,214,255);
  border-radius: 10px;
}
.routineActivitiesDiv{
  display: flex;
  flex-wrap: wrap;
}
.activityRoutineHeader{
  text-decoration: underline;
}
.target{
  font-size: 3em;
  margin: 0 0 0.25em 0.17em;
}
.logInOrUpForm{
  display: flex;
  flex-direction: column;
  width: 40%;
}
.logInHeader{
  font-size: 1.7em;
  margin-left: 1.2em;
  letter-spacing: 0.3em;
  color: rgba(243,51,102,255);
  text-align: center;
}
.logInOrUpFormDiv{
  display: flex;
  justify-content: center;
}
.registerButton{
  background-color: rgba(243,51,102,0.4);
  border: 2px solid rgba(243,51,102,0.9);
  padding: 10px;
  border-radius: 10px;
  color: white;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  font-size: 14px;
}
.registerButtonDiv{
  display: flex;
  justify-content: center;
  margin: 1.5em;
}
.submitButton{
  background-color: rgba(243,51,102,0.8);
  font-size: 17px;
  border: none;
  padding: 14px;
  border-radius: 10px;
  color: white;
  align-self: center;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
.registerForm{
  display: flex;
  flex-direction: column;
  width: 40%;
}
.registerFormDiv{
  display: flex;
  justify-content: center;
}
.registerHeader{
  font-size: 1.7em;
  margin-left: 1.2em;
  letter-spacing: 0.3em;
  color: rgb(65, 182, 188);
  text-align: center;
}
.registerSubmit{
  background-color: rgb(65, 182, 188);
  font-size: 17px;
  border: none;
  padding: 14px;
  border-radius: 10px;
  color: white;
  align-self: center;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
.newRoutineHeader{
  font-size: 1.7em;
  margin-left: 1.2em;
  letter-spacing: 0.3em;
  color: rgb(59, 169, 161);
  text-align: center;
}
.newRoutineForm{
  display: flex;
  flex-direction: column;
  width: 40%;
}
.newRoutineFormDiv{
  display: flex;
  justify-content: center;
}
.newRoutineSubmitButton{
  background-color: rgb(59, 169, 161);
  border: 2px solid rgba(78,224,214,1);
  font-size: 17px;
  padding: 14px;
  border-radius: 10px;
  color: white;
  align-self: center;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
.newActivityHeader{
  font-size: 1.7em;
  margin-left: 1.2em;
  letter-spacing: 0.3em;
  color: rgb(115, 177, 6);
  text-align: center;
}
.newActivityForm{
  display: flex;
  flex-direction: column;
  width: 40%;
}
.newActivityFormDiv{
  display: flex;
  justify-content: center;
}
.newActivitySubmitButton{
  background-color: rgb(115, 177, 6);
  border: 2px solid rgb(154,237,11);
  font-size: 17px;
  padding: 14px;
  border-radius: 10px;
  color: white;
  align-self: center;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
.trash{
  max-height: 29px;
  display: flex;
  border-radius: 10px;
}

.trashBin {
  background-color: rgba(78,224,214,0.005);
  border: none;
  display: flex;
  max-width: 50px;
}
.trashBinButtonDiv{
  display: flex;
}
.edit{
  max-height: 30px;
  display: flex;
  border-radius: 10px;
}

.editIcon {
  background-color: rgba(78,224,214,0.05);
  opacity: 70%;
  border: none;
  display: flex;
  max-width: 50px;
}
.editIconDiv{
  display: flex;
}
.myRoutineButtons{
  display: flex;
  justify-content: right;
}
.trash:hover{
  border-radius: 5px;
  box-shadow: 0 2px 20px -2px rgb(60, 172, 164);
}
.editIcon:hover{
  border-radius: 5px;
  box-shadow: 0 2px 20px -2px rgb(60, 172, 164);
}
.routineActivityForm{
  display: flex;
flex-direction: column;
width: 30%;
margin-top: 1.5em;
text-align: center;
}
.routineActivityFormDiv{
  display: flex;
  justify-content: center;
}
.addToButton{
  background-color: rgb(181, 58, 212);
  border: 2px solid rgb(217, 158, 231);
  font-size: 15px;
  padding: 10px;
  border-radius: 10px;
  color: white;
  align-self: center;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
.activityDrop{
  width: 25em;
  align-self: center;
  margin-top: 1em;
}
.attachedRoutineActivities{
  border: 5px solid rgb(154,237,11);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  margin: 0.3em;
  background-color: rgba(154,237,11, 0.3);
}
.attachedRoutineActivitiesDiv{
  display: flex;
  flex-wrap: wrap;
}
.loggedInNav{
  display: flex;
  justify-content: space-around;
  padding: 12px;
}
.inButtons{
  padding: 12px;
  background-color: rgba(39, 58, 225, 0.5);
  border: 2px solid rgba(39, 58, 225, 1);
  border-radius: 5px;
  color: white;
  font-size: 0.8em;
  font-family: 'Source Code Pro', monospace;
  font-weight: 700;
}
.loggedOutNav{
  display: flex;
  justify-content: space-around;
  padding: 12px;
}
.outButtons{
  padding: 12px;
  background-color: rgba(39, 58, 225, 0.5);
  border: 2px solid rgba(39, 58, 225, 1);
  border-radius: 5px;
  color: white;
  font-size: 0.8em;
  font-family: 'Source Code Pro', monospace;
  font-weight: 800;
}
.routineButtons{
 padding: 6px;
 width: 300px;
 background-color: rgba(78,224,214,0.3);
 border: 5px solid rgba(78,224,214,255);
margin: 0 3px 0 3px;
border-radius: 10px;
font-family: 'Source Code Pro', monospace;
}
.routineButtonsDiv{
 display: flex;
 justify-content: center;
}
.countButton{
padding: 4px;
border: 2px solid rgb(215, 247, 191);
  border-radius: 10px;
  background-color: rgb(154,237,11);
  font-size: 14px;
  font-family: 'Source Code Pro', monospace;
}
.countButtonDiv{
  display: flex;
  justify-content: center;
}
.activityEditForm{
  display: flex;
  margin-top: 10px;
  gap: 10px;
}
.activityEditFormDiv{
  display: flex;
  justify-content: space-around;
}
.activityEditSubmitButton{
  padding: 5px;
  background-color: rgba(66, 151, 66, 0.7);
  color:white;
  border-radius: 10px;
  border: 2px solid rgba(66, 151, 66, 0.3);
}
.activityEditDeleteButton{
  padding: 5px;
  background-color: rgba(247, 14, 14, 0.647);
  color:white;
  border-radius: 10px;
  border: 2px solid rgb(255, 4, 4);
}
.errorMessage{
  color: red;
  text-align: center;
}
.welcomeDiv{
  display: flex;
  flex-direction: column;
  margin-top: 60px;
  align-items: center;
}